<!-- node graphql config, collect all query assets for http post request afterwards -->
<script type="text/javascript">
  RED.nodes.registerType("graphql-config", {
    category: "GraphQL",
    color: "rgb(180, 255, 135)",
    defaults: {
      name: {
        value: "",
      },
      configuration: {
        value: "",
      },
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-cog",
    label: function () {
      return this.name || "QraphQL config";
    },
    oneditprepare: function () {},
    oneditsave: function () {},
    outputLabels: ["success", "fail"],
  });
</script>

<script type="text/x-red" data-template-name="graphql-config">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-configuration"><i class="fa fa-tag"></i> Configuration</label>
    <textarea id="node-input-configuration" style="width: 100%; min-height: 400px">
  </div>
</script>

<script type="text/x-red" data-help-name="graphql-config">
  <p>GraphQL config node</p>
</script>
